.TipDiv {
  display: inline-block;
  background-color: #b4362e;
  min-width: 40%;
  border-radius: 15px;
  padding-bottom: 28px;
  margin-right: 18px;
  height: 100%;
}

.Icon {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 73px;
}

.Title {
  color: #ff8f8f;
  font-size: 14px;
  font-family: "milliardbook";
  margin-left: 15px;
}

.Content {
  color: #ffffff;
  font-size: 20px;
  font-family: "milliardmedium";
  margin-left: 15px;
}
