* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "milliardbold";
  src: url("fonts/Millard-f/rene_bieder__milliard_bold-webfont.woff2")
      format("woff2"),
    url("fonts/Millard-f/rene_bieder__milliard_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "milliardbook";
  src: url("fonts/Millard-f/rene_bieder__milliard_book-webfont.woff2")
      format("woff2"),
    url("fonts/Millard-f/rene_bieder__milliard_book-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "milliardlight";
  src: url("fonts/Millard-f/rene_bieder__milliard_light-webfont.woff2")
      format("woff2"),
    url("fonts/Millard-f/rene_bieder__milliard_light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "milliardmedium";
  src: url("fonts/Millard-f/rene_bieder__milliard_medium-webfont.woff2")
      format("woff2"),
    url("fonts/Millard-f/rene_bieder__milliard_medium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "milliardsemibold";
  src: url("fonts/Millard-f/rene_bieder__milliard_semibold-webfont.woff2")
      format("woff2"),
    url("fonts/Millard-f/rene_bieder__milliard_semibold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: "millardbook", sans-serif;
  font-size: 10px;
}
body {
  overflow-x: hidden;
  height: 100vh;
}
