.Modal {
  background-color: #fff;
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 80%;
  border-radius: 1.5rem;
  padding-bottom: 40px;
  transition: all 1s;
  overflow: hidden;
  border: none;
  box-shadow: none;
}

.Account {
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  background-color: #b34666;
  margin-bottom: 30px;
  padding: 3.4rem 7.6rem;
  border-radius: 15px 15px 0 0;
  font-family: "milliardbook";
}
.Input::placeholder {
  color: #9d9d9d;
  font-size: 14px;
  text-align: left;
}
.Input {
  background-color: #fff;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  border: none;
  border-bottom: solid #e6e6e6 1px;
  margin-bottom: 26.5px;
  margin-top: 10px;
  padding: 8.5px 0;
}

.First {
  margin-top: 30px;
}

.LogbtnS {
  display: block;
  font-size: 16px;
  color: #ffffff;
  background-color: #b34666;
  border: none;
  width: 75%;
  padding: 12px;
  text-align: center;
  border-radius: 1rem;
  margin: 1.8rem auto 25px;
  text-decoration: none;
  font-family: "milliardbook", sans-serif;
}

.LogbtnS:hover {
  background-color: rgba(179, 70, 102, 0.77);
}
