@font-face {
  font-family: "milliardbook";
  src: url("/fonts/Millard-f/rene_bieder__milliard_book-webfont.woff2")
      format("woff2"),
    url("/fonts/Millard-f/rene_bieder__milliard_light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
.Signn::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -35;
  background-color: rgba(0, 0, 0, 0.6);
}
.Signn {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(./../../images/login-img.png);
  background-repeat: no-repeat;
  z-index: -50;
}

.Logbtn {
  display: block;
  font-size: 16px;
  color: #ffffff;
  background-color: #b34666;
  border: none;
  width: 80%;
  padding: 12px;
  text-align: center;
  border-radius: 1rem;
  margin: 1.8rem auto;
  text-decoration: none;
  z-index: 500;
  font-family: "milliardbook", sans-serif;
}

.Logbtn:hover {
  background-color: rgba(179, 70, 102, 0.77);
}

.Show {
  display: block;
}
.Flowa {
  width: 30%;
  margin-left: 50%;
  margin-bottom: 180px;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 235px;
}

.Postion {
  position: relative;
  z-index: 55;
}
